#container {
width:550px;
height:25px;
overflow:hidden;
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-o-transition: all 2s ease
}

#container:hover{
height: 200px;
}

#visible_label a {
padding-top: 2px;
font: 16px abel, sans-serif;
text-align: center;
background-color: #00D0FF;
color: #000000;
width: 550px;
height: 50px;
display: block;
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-o-transition: all 2s ease
}

#invisible_label a{
font: 16px abel, sans-serif;
text-align: center;
background-color: #E3DC07;
color: #FF00CC;
-webkit-transition: all 0.8s ease;
-moz-transition: all 0.8s ease;
-o-transition: all 0.8s ease;
display:block;
padding:3px;
}

#invisible_label a:hover{
background-color: #ffffff;
color: #000000;
}

a{text-decoration: none;
}
