/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
	font-family:'helvetica';
	background-color:white;
	float:right;
font-size:12px;
color:gray;
text-decoration:none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

#title{padding-left:150px
padding-top:400px
}

#cakepicture{float:left;
margin:100px;
width:250px;
padding-left:100px;
}

#listofstuff{float:left;
margin:100px;
width: 60%;
width:250px;
padding-left:100px;
}

#directions{float:left;
padding-left:200px;
padding-top:100px;
}

footer{clear: both;
padding-left:200px;
}

h1{ font-family:'abel';
font-size:20px;
color:#983937
padding-left: 10 px;
text-align:left;
}

h2{ font-family:'abel';
font-size:18px;
color:#983937
padding-left: 10 px;
text-align:left;
}

h3{ font-family:'abel';
font-size:16px;
color:#983937;
padding-left: 10 px;
text-align:left;
}

a, p {font-family:'georgia';
font-size:12px;
color:black;
text-decoration:none;
padding-left: 10 px;
}

a {color:#de4b48;
}

ul, ol {
	text-align:left;
	list-style: none;	
}

li {
font-family:'georgia';
font-size:12px;
color:black;
text-align:left;	
}
