/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {font-family: 'Abel', sans-serif;
	line-height: 1;
	width:100%;
	margin: 0 auto;
	background-color: white
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#site-wrapper {
	background-color: white;
	height:100px;
	width:100%;
}

#site-header {
	position: absolute;
	top:50px;
	background-color: black;
	height:50px;
	margin: 0 auto;
	width: 100%;
}

#site-header img {
	position: absolute;
	left: 100px;

}

header h1 { 
	position:absolute;
	top: -50px;
	left: -50px;

}

#top-nav {
	position:absolute;
	background-color:black;
	font-size: 30px;
	text-transform: uppercase;
	right:50px;
	height: 50px;

}

#top-nav a {padding-right: 10px;
}

a.work:hover {
  background-color: yellow;
}

a.about:hover {
  background-color: cyan;
}

a.contact:hover {
  background-color: magenta;
}

header a {	
	text-decoration: none;
	color:white;
}

#content {
position:relative;
margin: 0 auto;
  height:680px;
  width:450px;
  margin:0 auto;
    }

#slideshow img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
 @keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}
}


#footer-wrapper {
	clear:both;
	position: 
	background-color: white;
	height:50px;
}

#footer-info {
	clear:both;
	background-color: black;
	height:70px;
}

footer p {float: right;
	text-align: right;
	color:white;
	padding-right: 35px;

}
