/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {font-family: helvetica;
	line-height: 1;
	width:100%;
	margin: 0 auto;
	background-color: pink
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#site-wrapper {background-color:red;
}

header {position: relative;
	background-color: orange;
	height:200px;
	margin: 0 auto;
	width:960px;
}

header h1 { 
	position:absolute;
	top:50px;
	left:50px;
	background-color: red;

}

header nav {
	position:absolute;
	background-color:orange;
	right:0px;

}

header a {	text-decoration: none;
	color:white;
}

#menu-wrapper {
	background-color:chocolate;

}

#main-menu {
	background-color: chocolate;
	position:relative; 
	height:50px;
	width:960px;
	margin: 0 auto;
}

#main-menu li {float:left;
	background-color:chocolate;
	padding:10px;
	margin: 5px;
}

#main-menu a {text-decoration: none;
	color:white;
	text-transform: uppercase;
}

#page {float:left;
	width:60%;
	background-color:yellow;
}

#content {
	width:960px;
	margin: 0 auto;

}

#sidebar {float:left;
width:30%;
background-color:purple;
}

#site-footer {background-color: aqua;
	width:960px;
	clear:both;
	position:relative; 
	bottom:0;
}

#footer-wrapper {
	clear:both;
	background-color: chocolate;
	height:120px;
}

#footer-contact {background-color:chocolate;
	width:30%;
	margin-left: 136px;

}

#footer-follow {position:absolute; top:700; right:300; bottom:0; left:600;
	background-color:chocolate;
	width:25%;
	height: 80px;
	margin-left: 775px;
}

#footer-follow li {float:left;
}

